<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChineseSearch OSX.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ChineseSearch iOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ChineseSearch iOSTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ChineseSearch tvOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ChineseSearchTest.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>ChineseSearchUITest.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>TestProduct.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA50C8271C0ED15200F2D917</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA50C8321C0ED29900F2D917</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA5ACC0F1C2BD0C200DD012A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA5ACC181C2BD0C200DD012A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA5ACC2C1C2BD85600DD012A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA5ACC351C2BD85600DD012A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA5ACC481C2BD97800DD012A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA5ACC511C2BD97800DD012A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAB45AEC1C2C0D8C006051B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAB45AF51C2C0D8C006051B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAB45B661C2C1F7B006051B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAB45B6F1C2C1F7C006051B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAB45B821C2C1FB1006051B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAB45B8B1C2C1FB1006051B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAB45B9E1C2C1FCD006051B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAB45BA71C2C1FCD006051B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAE68CBD1C37A91A006E680D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAE68CD31C37A91A006E680D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAE68CDE1C37A91A006E680D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAE68CF31C37B48F006E680D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAEFF3E61C1EA69000DD4DB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAEFF3EF1C1EA69000DD4DB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAEFF4021C1EA6DE00DD4DB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAEFF40F1C1EA79C00DD4DB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAEFF4181C1EA79D00DD4DB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
